<h4>SONG SEARCH SECTION</h4>
<div class="tabbable">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#record" data-toggle="tab">Record</a></li>
    <li><a href="#pane1" data-toggle="tab">Song Search</a></li>
    <li><a href="#pane3" data-toggle="tab">Sound Effects</a></li>
  </ul>
  <div class="tab-content">



    <div id="record" class="tab-pane active">
      <h4>Record</h4>
      <button id="startRecording" class="glyphicon glyphicon-">record</button>
      <button id="stopRecording" disabled="true">stop</button>
      <canvas id="volumeMeter"></canvas>

    <ul id="recording">
      <li class="commentary" opacity="0.3">
      Your Recording
      </li>
    </ul>

    </div>

    <div id="pane1" class="tab-pane">
      <h4>Song Search</h4>
      <pre>Code here ...</pre>
    </div>

    <div id="pane3" class="tab-pane">
      <h4>Sound Effects</h4>
      <p> and so on ...</p>
    </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->


