// Place all the styles related to the station controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grid-gutter-width: 90px;
$grid-float-breakpoint: 768px;

.chat-wrapper, .current-playlist {
  height: 400px;
  background: grey;
  overflow-y: scroll;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.request-line {
  .row {
    margin: 0;
  }
  .request-light {
    background: red;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 5px;
    border-radius: 100%;
    padding: 0;
  }
}

.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8 {
  &.no-gutter {
    padding: 0;
  }
}

// MY HACKY CSS HERE
#elapsed_time {
  float: left;
  padding-left: 8px;
}

#time_remaining {
  float: right;
  padding-right: 8px;
}

.progress-bar, .progress  {
  height: 7px;
  width: 95%;
  margin-bottom: 2px;
  margin-right: auto;
  margin-left: auto;
}

.progress-bar {
  -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#now_playing {
  background-color: #3EFF81 !important;
  border: 1px solid black;
  margin-bottom: 2px;
  border-radius: 10px;
  list-style-type:none;
  overflow: auto;
}


.scheduled_play {
  background-color: #8FCFFF;
  height: 50px;
  width: 433;
  border: 1px solid black;
  margin-bottom: 2px;
  border-radius: 10px;
  list-style-type:none;
}

#recording li.commentary {
  margin-top: 15px;
  padding-top: 10px;
  text-align: center;
  background-color: desaturate(red, 50%);
  opacity: 0.8;
}

.commentary {
  background-color: red;
  opacity: 1.0;
}

.commercial_block {
  background-color: yellow !important;
}

.title {
  padding-top: 2px;
  padding-left: 10px;
  top: 0;
  left: 0;
  width: 200px;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

.artist {
  float: left;
  padding-left: 10px;
}

.estimated_air_time {
  padding-top: 2px;
  padding-right: 10px;
  float: right;
  top: 0;
  right: 0;
  text-align: right;
  height: 20px;
}

audio {
  width: 90%;
  height: 50%;
}

.rotation {
  height: 150px;
  margin: 1px 0 1px 0;
}

.song-table {
  padding-right: 0px;
  padding-left: 0px;
  overflow: auto;
  border: 2px solid black;
}

.all-songs {
  height: 350px;
}
