<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <% unless notice.blank? %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
    </div>
  </div>
